{% load i18n %}

<form action="?" method="get" id="{{ datepicker_id }}" class="form-inline">
  <h4>{% trans "Select a period of time to view data in:" %}
    <span class="small help-block">{% trans "The date should be in YYYY-MM-DD format." %}</span>
  </h4>
  <div class="datepicker form-group">
    {%  with datepicker_input=form.start datepicker_label="From" %}
      {% include 'project/reporting/_datepicker_reporting.html' %}
    {% endwith %}
  </div>
  <span class="datepicker-delimiter">
    <span class="datepicker-delimiter-text">{% trans 'to' %}</span>
  </span>
  <div class="datepicker form-group">
    {%  with datepicker_input=form.end datepicker_label="To" %}
       {% include 'project/reporting/_datepicker_reporting.html' %}
    {% endwith %}
  </div>
  <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>

<button class="btn btn-primary" id="lastWeek">{% trans "Last week" %} </button>
<button class="btn btn-primary" id="lastMonth">{% trans "Last Month" %} </button>
<button class="btn btn-primary" id="thisYear">{% trans "This Year" %} </button>

<script> 
  $(function () {
    //use to reference form inputs
    const $form = $('#{{ datepicker_id }}');  
    const $startInput = $('[name="{{ form.start.name }}"]');
    const $endInput = $('[name="{{ form.end.name }}"]');

  
    //sets range to be the last week
    $('#lastWeek').on('click', function () {
      const endDate = new Date(); // current date
      const startDate = new Date();
      startDate.setDate(endDate.getDate() - 6); // last 7 days including today
      
      $startInput.val(startDate.toISOString().split('T')[0]);
      $endInput.val(endDate.toISOString().split('T')[0]);

      $form.submit(); //updates the form with new dates
      
    });

    //sets range to be the last month
    $('#lastMonth').on('click', function () { 
      const endDate = new Date(); // current date
      endDate.setDate(0); // last day of the previous month
      const startDate = new Date();
      startDate.setMonth(endDate.getMonth()); // first day of the previous month
      startDate.setDate(1); // first day of the month
    
      $startInput.val(startDate.toISOString().split('T')[0]);
      $endInput.val(endDate.toISOString().split('T')[0]);
      
      $form.submit(); //updates the form with new dates
    });

    //sets range to be the current year
    $('#thisYear').on('click', function () {
      const endDate = new Date(); // current date
      const startDate =  new Date(new Date().getFullYear(), 0, 1, 1); // start of the current year
      
      $startInput.val(startDate.toISOString().split('T')[0]);
      $endInput.val(endDate.toISOString().split('T')[0]);
      
      $form.submit(); //updates the form with new dates

    });
  });


</script>
