{% load i18n %}

<form action="?" method="get" id="{{ datepicker_id }}" class="form-inline">
  <h4>{% trans "Select a period of time to view data in:" %}
    <span class="small help-block">{% trans "The date should be in YYYY-MM-DD format." %}</span>
  </h4>
  <div class="datepicker form-group">
    {%  with datepicker_input=form.start datepicker_label="From" %}
      {% include 'project/reporting/_datepicker_reporting.html' %}
    {% endwith %}
  </div>
  <span class="datepicker-delimiter">
    <span class="datepicker-delimiter-text">{% trans 'to' %}</span>
  </span>
  <div class="datepicker form-group">
    {%  with datepicker_input=form.end datepicker_label="To" %}
       {% include 'project/reporting/_datepicker_reporting.html' %}
    {% endwith %}
  </div>
  <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>

<div class="button-row">
  <button class="btn btn-primary" id="leftArrow">  &laquo; </button>
  <button class="btn btn-primary" id="Week">{% trans "Week View" %} </button>
  <button class="btn btn-primary" id="Month">{% trans "Month View" %} </button>
  <button class="btn btn-primary" id="Year">{% trans "Year View" %} </button>
  <button class="btn btn-primary" id="rightArrow">  &raquo; </button>
</div>
<div class="additional-range-buttons">
  <button class="btn btn-primary" id="lastWeek">{% trans "Last Week" %} </button>
  <button class="btn btn-primary" id="lastMonth">{% trans "Last Month" %} </button>
  <button class="btn btn-primary" id="lastYear">{% trans "Last Year" %} </button>
</div>

<style>
.form-inline {
  text-align: center;
  margin-bottom: 20px;
  margin-left: -4px;
  padding-left: 0;
  padding-right: 0;
}

.form-inline h4 {
  text-align: center;
  margin-bottom: 15px;
}

.form-inline .datepicker,
.form-inline .datepicker-delimiter,
.form-inline .btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.button-row {
  text-align: center;
  margin: 10px 0;
  margin-left: -4px;
  padding-left: 0;
  padding-right: 0;
}

.button-row button {
  margin: 0 5px;
}

.additional-range-buttons {
  text-align: center;
  margin: 15px 0 0;
  margin-left: -4px;
  padding-left: 0;
  padding-right: 0;
}

.additional-range-buttons button {
  margin: 0 5px;
}
</style>




<script> 

  $(function () {
    //use to reference form inputs
    const $form = $('#{{ datepicker_id }}');  
    const $startInput = $('[name="{{ form.start.name }}"]');
    const $endInput = $('[name="{{ form.end.name }}"]');
    const currDate = new Date(); // current date
    // Get lastClicked from sessionStorage, default to 'week' if not set
    var lastClicked = sessionStorage.getItem('datepicker_lastClicked') || 'week';
   
    //move time period back
    $('#leftArrow').on('click', function () {

      if ($startInput.val() && $endInput.val()) {
        const startDate = new Date($startInput.val());
        const endDate = new Date($endInput.val());

        if (lastClicked === 'week') {
          startDate.setDate(startDate.getDate() - 7);
          endDate.setDate(endDate.getDate() - 7);
        }
        
        else if (lastClicked === 'month') {
          startDate.setMonth(startDate.getMonth() -1);
          endDate.setMonth(endDate.getMonth(), 0);
        } 
        
        else if (lastClicked === 'year') {
          startDate.setFullYear(startDate.getFullYear() - 1);
          endDate.setFullYear(endDate.getFullYear() - 1);
        }

        $startInput.val(startDate.toISOString().split('T')[0]);
        $endInput.val(endDate.toISOString().split('T')[0]);
      }
      
      $form.submit(); //updates the form with new dates
    });

    //move time period forward
    $('#rightArrow').on('click', function () {
      if ($startInput.val() && $endInput.val()) {
        const startDate = new Date($startInput.val());
        const endDate = new Date($endInput.val());

        if (lastClicked === 'week') {
          startDate.setDate(startDate.getDate() + 7);
          endDate.setDate(endDate.getDate() + 7);
        } else if (lastClicked === 'month') {
          startDate.setMonth(startDate.getMonth() + 1);
          endDate.setMonth(endDate.getMonth() +2, 0); // Set to last day of next month
        } else if (lastClicked === 'year') {
          startDate.setFullYear(startDate.getFullYear() + 1);
          endDate.setFullYear(endDate.getFullYear() + 1);
        }
        
        $startInput.val(startDate.toISOString().split('T')[0]);
        $endInput.val(endDate.toISOString().split('T')[0]);
      }
      
      $form.submit();
    });

    //sets range to be the current week
    $('#Week').on('click', function () {
      const startDate = new Date();
      startDate.setDate(currDate.getDate() - (currDate.getDay()) + 1); // first day of the week (set to monday with +1)
      const endDate= new Date();
      endDate.setDate(startDate.getDate()+6); // end of the current week (saturday)
      
      $startInput.val(startDate.toISOString().split('T')[0]);
      $endInput.val(endDate.toISOString().split('T')[0]);

      lastClicked = 'week'; 
      sessionStorage.setItem('datepicker_lastClicked', lastClicked); 
      $form.submit(); 
      
    });

    //sets range to be this month by default
    $('#Month').on('click', function () { 
      const startDate = new Date();
      startDate.setFullYear(currDate.getFullYear(), currDate.getMonth(), 1); // first day of the month
      
      const endDate = new Date();
      endDate.setFullYear(currDate.getFullYear(), currDate.getMonth() + 1, 0); // last day of the month

      $startInput.val(startDate.toISOString().split('T')[0]);
      $endInput.val(endDate.toISOString().split('T')[0]);
      
      lastClicked = 'month'; 
      sessionStorage.setItem('datepicker_lastClicked', lastClicked); 
      $form.submit();
    });

    //sets range to be the current year
    $('#Year').on('click', function () {
      
      const startDate =  new Date(currDate.getFullYear(), 0, 1); // start of the current year
      const endDate = new Date(currDate.getFullYear(), 11, 31); //end of the current year
      
      $startInput.val(startDate.toISOString().split('T')[0]);
      $endInput.val(endDate.toISOString().split('T')[0]);
      
      lastClicked = 'year'; 
      sessionStorage.setItem('datepicker_lastClicked', lastClicked); 
      $form.submit();

    });

    //sets range to be the last week
    $('#lastWeek').on('click', function () {
      const endDate = new Date(); // current date
      const startDate = new Date();
      startDate.setDate((startDate.getDate() - (startDate.getDay() + 6) % 7) -7); //logic to get last monday
      endDate.setDate(startDate.getDate()+6); // last day of the previous week (sunday)
      $startInput.val(startDate.toISOString().split('T')[0]);
      $endInput.val(endDate.toISOString().split('T')[0]);

      lastClicked = 'week'; 
      sessionStorage.setItem('datepicker_lastClicked', lastClicked); 
      $form.submit(); 
      
    });

    //sets range to be the last month
    $('#lastMonth').on('click', function () { 
      const endDate = new Date(); // current date
      endDate.setDate(0); // last day of the previous month
      const startDate = new Date();
      startDate.setMonth(endDate.getMonth()); // first day of the previous month
      startDate.setDate(1); // first day of the month
    
      $startInput.val(startDate.toISOString().split('T')[0]);
      $endInput.val(endDate.toISOString().split('T')[0]);
      
      lastClicked = 'month';
      sessionStorage.setItem('datepicker_lastClicked', lastClicked);
      $form.submit(); 
    });

    $('#lastYear').on('click', function () {
      const endDate = new Date(); // current date
      endDate.setFullYear(endDate.getFullYear() - 1, 11, 31); // last day of the previous year
      const startDate = new Date();
      startDate.setFullYear(endDate.getFullYear(), 0, 1); // first day of the previous year
      
      $startInput.val(startDate.toISOString().split('T')[0]);
      $endInput.val(endDate.toISOString().split('T')[0]);
      
      lastClicked = 'year'; 
      sessionStorage.setItem('datepicker_lastClicked', lastClicked); 
      $form.submit(); 
    });
  });
 

</script>
